svg {
  display: block;
  border: 2px solid black;
  margin: 3px 10%;
}

circle {
  fill: black;
  stroke: white;
}

text {
  fill: aliceblue;
  font-size: 15px;
}

#controls {
  height: 15%;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 25%;
  left: 0;
  overflow-x: hidden;
  padding-top: 40px;
  padding-left: 15px;
}
